---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About";
---

<Layout pageTitle={pageTitle}>
    <h2>About Me</h2>
    <p>
        Hey! I'm Mehmet, a software developer with over 10 years of experience
        in the tech industry.
    </p>

    <p>
        My journey in software development started from the very early ages and
        it has taken me through various domains, from web and mobile
        applications to the cutting edge of artificial intelligence and machine
        learning. I graduated from <a href="https://w3.cs.bilkent.edu.tr/"
            >Bilkent CS</a
        > on 2013, and currently working as a Senior Software Engineer at <a
            href="https://bayzat.com">Bayzat</a
        >.
    </p>

    <h3>What You'll Find Here</h3>
    <p>
        This blog is my space to share insights, tutorials, and thought pieces
        on a variety of topics related to software development, AI, and
        technology. Whether you're a seasoned developer or just starting out, my
        goal is to provide valuable content that can help you on your own tech
        journey.
    </p>

    <h3>Topics I Cover</h3>
    <ul>
        <li>
            <strong>Software Development</strong>: Best practices, design
            patterns, code reviews, and more.
        </li>
        <li>
            <strong>Technology Trends</strong>: Keeping up with the latest in
            tech, from new programming languages to emerging technologies.
        </li>
        <li>
            <strong>Career Advice</strong>: Tips and strategies for thriving in
            the tech industry, including personal development and navigating
            your career path.
        </li>
    </ul>

    <h3>Why I Write</h3>
    <p>
        I believe that sharing knowledge is one of the most powerful ways to
        give back to the tech community. Through this blog, I hope to inspire,
        educate, and connect with fellow developers and tech enthusiasts. Your
        feedback and engagement are always welcome, so feel free to reach out,
        leave comments, or connect with me.
    </p>

    <h3>Get in Touch</h3>
    <p>
        I'm always eager to hear from readers and fellow tech enthusiasts.
        Whether you have questions, suggestions, or just want to say hello, you
        can reach out to me.
    </p>

    <p>Thank you for visiting my blog. Happy coding!</p>
</Layout>
