---
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="header">
    <nav transition:persist>
        <div class="navbar">
            <div class="navbar__title">
                <a href="/">Mehmet Emin Mumcu</a>
            </div>
            <div class="navbar__menu">
                <a href="/about/">About</a>
                <a href="/">Posts</a>
                <a href="https://github.com/ttomczak3/Milky-Way" target="_blank"
                    >GitHub</a
                >
                <ThemeIcon />
            </div>
        </div>
    </nav>
</header>
